.paragraph{
  display: flex;
  font-size: 35px;
  line-height: 1;
  padding: 80px;
  max-width: 1280px;
  height:100vh;
  color: white;
  flex-wrap: wrap;
  text-align: center;
  overflow-wrap:break-word;
  .word{
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow{
      position: absolute;
      opacity: 20%;
    }
  }
  
}