@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: VALINY;
    src: url('./fonts/valiny.ttf');
}
@font-face { 
    font-family: BREATHING;
    src: url('./fonts/Breathing-BF678545156ee58.otf');
}